body{
  background-color: black;
  color : silver;
  font-family: cursive; pacifico;

}
li {
  list-style: none;
  padding: 0 25px;
  font-size: 15px;
}
a {
  color : silver;
  text-decoration: underline;
}
a:hover{
  color:gold;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-size: 55px;
}
h3 {
  letter-spacing: 5px;
}
.flexcenter {
  display: flex;
  justify-content: flex-end;
}
.flexwrap{
  display: flex;
  flex-wrap: wrap;
}
.flexcenterform{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flexcenterdet{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
input , option , textarea{
  padding: 10px 0;
  width: 200px;
  background-color: grey;
  border: solid 1px grey ;
  text-align: center;
  border-radius: 2px;
}

select{
  padding: 10px 0;
  width: 200px;
  text-align-last: center;
  background-color: grey;
  border: solid 1px grey ;
  border-radius: 2px;
}
input[type="number"],input[type="text"],select{
  color : gold;
  letter-spacing: 5px;

}
table{

  width: 70%;
  margin: 75px  auto;
}
tr{
  border-bottom: solid 2px silver;
}
td , th {
  padding: 15px 0;
}
button{
    color : gold;
    background-color: black;
    border : solid 2px black;
      margin: : 10px 0;
}
button:hover{
    color : black;
    background-color: gold;
    border : solid 2px gold;
    transition: linear 1s;
    border-radius: 15px 0px ;
}
.cadre{
  width: 200px;
}
textarea{
  color:gold;
  height: 300px;
}
.parares{
  width: 50%;
  text-align: center;
}
.separator{
  width: 20%;
}
.noel{
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 150px;
  letter-spacing: 15px;
  background: -webkit-gradient(linear, left top, left bottom, from(orange), to(red));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.flocon{
  width: 4%;
  margin: 0 50px;
}
.girlande{
  width: 25%;
  margin: 0 50px;
}
